<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        
        <div class="box-header" style="background-color: #02c55a; color: white;">
          <div class="box-title">
            <div style="font-weight: bold; margin-top: 5%;">Manage Enquiry Sources</div>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEnquirySourceModal">
            Add
            </button>
          </div>
        </div>
        
        <div class="box-body">
          <div class="table-responsive">
            <!-- <table class="table table-bordered"> -->
              <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Enquiry Source</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!enquirySourceList">
                  <td colspan="2" style="color: red; text-align: center;"><span>No records found!</span></td>
                </tr>
                <tr *ngFor="let es of enquirySourceList; let indexOfelement=index;">
                  <th scope="row">{{indexOfelement + 1}}</th>
                  <td>{{es.enquirySource}}</td>                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Add Enquiry Source Start -->
<div class="modal fade" id="addEnquirySourceModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Enquiry Source</h4>
      </div>
      <form name="addEnquirySourceForm" #addEnquirySourceForm="ngForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group required">
                <label class='control-label'>Enquiry Source</label>
                <input type="text" id="enquirySource" class="form-control" placeholder="Enquiry Source"
                  required [(ngModel)]="addEnquirySourceModal.enquirySource" name="enquirySource" #enquirySource="ngModel">

                  <div *ngIf="enquirySource.invalid && (enquirySource.dirty || enquirySource.touched)">
                    <label class="error" for="enquirySource" *ngIf="enquirySource.errors?.['required']">Please enter enquiry source</label>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]="addEnquirySourceForm.invalid" (click)="addEnquirySource()">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </form>
    </div>
  </div>
</div>
 <!-- Add Enquiry Source Models End-->
