<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        
        <div class="box-header" style="background-color: #02c55a; color: white;">
          <div class="box-title">
            <div style="font-weight: bold; margin-top: 5%;">Departments</div>
          </div>
        </div>
        
        <div class="box-body">
          <div class="table-responsive">
              <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col" class="center">#</th>
                  <th scope="col">Department Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!departmentList">
                  <td colspan="2" style="color: red; text-align: center;"><span>No records found!</span></td>
                </tr>
                <tr *ngFor="let department of departmentList; let indexOfelement=index;">
                  <th scope="row" class="center">{{indexOfelement + 1}}</th>
                  <td>{{department.departmentName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

